body {
}

.label {
    width: 150px;
    text-align: right;
    padding-right: 5px;
}

.input {
    text-align: right;
    width: 300px;
}

.input-left {
    text-align: right;
    width: 50px;
}

.input-right {
    text-align: right;
    width: 245px;
}

input[type=number] {
    -moz-appearance: textfield;
}